{% extends 'usersys/base.html' %}
{% load static %}

{% block content %}
        <main class="register-page">
            <div class="register-form">
                <div class="reg-title">
                    <h1>Регистрация</h1>
                </div>
                <div class="reg-form">
                    <form method="post">
                        {% csrf_token %}<br>

                        {{ form.username }}<br>

                        {{ form.email }}<br>

                        {{ form.password }}<br>

                        {{ form.password2 }}<br>
                        <button type="submit" class="reg-button">Вперед!</button>
                    </form>

                </div>
            </div>
            <div class="wave7"></div>
                <div class="wave8"></div>
        </main>

{% endblock content %}